---
http_interactions:
- request:
    method: post
    uri: https://autoscaling.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAutoScalingGroups&Filters.member.1.Name=tag%3AName&Filters.member.1.Values.member.1=Staging%20ECS%20host&Version=2011-01-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230117T195805Z
      X-Amz-Content-Sha256:
      - 8e4e051c73280f6982b44d2a89020b8e90ba3355fc77c8653414b7d73ef66bce
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 53e1497b-8f0f-4a15-9fc7-b876e28889a6
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeAutoScalingGroupsResponse xmlns="http://autoscaling.amazonaws.com/doc/2011-01-01/">
          <DescribeAutoScalingGroupsResult>
            <AutoScalingGroups>
              <member>
                <HealthCheckType>EC2</HealthCheckType>
                <Instances>
                  <member>
                    <LaunchConfigurationName>byte-storm-labs-staging-sample-autoscaling-ECSLaunchConfiguration-Rmw9raYkZdek</LaunchConfigurationName>
                    <LifecycleState>InService</LifecycleState>
                    <InstanceId>i-00137f90976b2b17e</InstanceId>
                    <HealthStatus>Healthy</HealthStatus>
                    <InstanceType>m6g.large</InstanceType>
                    <ProtectedFromScaleIn>false</ProtectedFromScaleIn>
                    <AvailabilityZone>us-east-2b</AvailabilityZone>
                  </member>
                  <member>
                    <LaunchConfigurationName>byte-storm-labs-staging-sample-autoscaling-ECSLaunchConfiguration-Rmw9raYkZdek</LaunchConfigurationName>
                    <LifecycleState>InService</LifecycleState>
                    <InstanceId>i-017a2e660c11ef29a</InstanceId>
                    <HealthStatus>Healthy</HealthStatus>
                    <InstanceType>m6g.large</InstanceType>
                    <[...]
