---
http_interactions:
- request:
    method: post
    uri: https://autoscaling.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeAutoScalingGroups&Filters.member.1.Name=tag%3AName&Filters.member.1.Values.member.1=Staging%20ECS%20host&Version=2011-01-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230117T203706Z
      X-Amz-Content-Sha256:
      - 8e4e051c73280f6982b44d2a89020b8e90ba3355fc77c8653414b7d73ef66bce
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 50919b26-7685-4a27-9644-a4600e2a0d1e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeAutoScalingGroupsResponse xmlns="http://autoscaling.amazonaws.com/doc/2011-01-01/">
          <DescribeAutoScalingGroupsResult>
            <AutoScalingGroups>
              <member>
                <HealthCheckType>EC2</HealthCheckType>
                <Instances>
                  <member>
                    <LaunchConfigurationName>byte-storm-labs-staging-sample-autoscaling-ECSLaunchConfiguration-Rmw9raYkZdek</LaunchConfigurationName>
                    <LifecycleState>InService</LifecycleState>
                    <InstanceId>i-060a07aa610c7db31</InstanceId>
                    <HealthStatus>Healthy</HealthStatus>
                    <InstanceType>m6g.large</InstanceType>
                    <ProtectedFromScaleIn>false</ProtectedFromScaleIn>
                    <AvailabilityZone>us-east-2a</AvailabilityZone>
                  </member>
                  <member>
                    <LaunchConfigurationName>byte-storm-labs-staging-sample-autoscaling-ECSLaunchConfiguration-Rmw9raYkZdek</LaunchConfigurationName>
                    <LifecycleState>InService</LifecycleState>
                    <InstanceId>i-0e3d584c360bda0d9</InstanceId>
                    <HealthStatus>Healthy</HealthStatus>
                    <InstanceType>m6g.large</InstanceType>
                    <ProtectedFromScaleIn>false</ProtectedFromScaleIn>
                    <AvailabilityZone>us-east-2b</AvailabilityZone>
                  </member>
                </Instances>
                <TerminationPolicies>
                  <member>Default</member>
                </TerminationPolicies>
                <DefaultCooldown>300</DefaultCooldown>
                <EnabledMetrics/>
                <AutoScalingGroupARN>arn:aws:autoscaling:us-east-2:163788863765:autoScalingGroup:582e2aa4-f360-4b4b-8edf-8ff48c3e28fa:autoScalingGroupName/byte-storm-labs-staging-sample-autoscaling-ECSAutoScalingGroup-1D0HCYVC9HU2N</AutoScalingGroupARN>
                <MaxSize>4</MaxSize>
                <AvailabilityZones>
                  <member>us-east-2a</member>
                  <member>us-east-2b</member>
                </AvailabilityZones>
                <TargetGroupARNs/>
                <LaunchConfigurationName>byte-storm-labs-staging-sample-autoscaling-ECSLaunchConfiguration-Rmw9raYkZdek</LaunchConfigurationName>
                <AutoScalingGroupName>byte-storm-labs-staging-sample-autoscaling-ECSAutoScalingGroup-1D0HCYVC9HU2N</AutoScalingGroupName>
                <HealthCheckGracePeriod>0</HealthCheckGracePeriod>
                <NewInstancesProtectedFromScaleIn>false</NewInstancesProtectedFromScaleIn>
                <CreatedTime>2023-01-17T18:46:49.478Z</CreatedTime>
                <MinSize>2</MinSize>
                <TrafficSources/>
                <LoadBalancerNames/>
                <Tags>
                  <member>
                    <ResourceId>byte-storm-labs-staging-sample-autoscaling-ECSAutoScalingGroup-1D0HCYVC9HU2N</ResourceId>
                    <PropagateAtLaunch>true</PropagateAtLaunch>
                    <Value>Staging ECS host</Value>
                    <Key>Name</Key>
                    <ResourceType>auto-scaling-group</ResourceType>
                  </member>
                  <member>
                    <ResourceId>byte-storm-labs-staging-sample-autoscaling-ECSAutoScalingGroup-1D0HCYVC9HU2N</ResourceId>
                    <PropagateAtLaunch>true</PropagateAtLaunch>
                    <Value>ECSAutoScalingGroup</Value>
                    <Key>aws:cloudformation:logical-id</Key>
                    <ResourceType>auto-scaling-group</ResourceType>
                  </member>
             [...]
- request:
    method: post
    uri: https://autoscaling.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=UpdateAutoScalingGroup&AutoScalingGroupName=byte-storm-labs-staging-sample-autoscaling-ECSAutoScalingGroup-1D0HCYVC9HU2N&DesiredCapacity=0&MaxSize=0&MinSize=0&Version=2011-01-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230117T203706Z
      X-Amz-Content-Sha256:
      - 69192a9d59d3b9442d47a0ec148fec28be2b2ec4c23c22503f06c4e9e063121d
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 4ad41108-aa69-439f-8108-5ea473630bd2
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <UpdateAutoScalingGroupResponse xmlns="http://autoscaling.amazonaws.com/doc/2011-01-01/">
          <ResponseMetadata>
            <RequestId>4ad41108-aa69-439f-8108-5ea473630bd2</RequestId>
          </ResponseMetadata>
        </UpdateAutoScalingGroupResponse>
  recorded_at: Tue, 17 Jan 2023 20:37:07 GMT
[...]
- request:
    method: post
    uri: https://autoscaling.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=UpdateAutoScalingGroup&AutoScalingGroupName=byte-storm-labs-staging-sample-autoscaling-ECSAutoScalingGroup-1D0HCYVC9HU2N&MaxSize=4&MinSize=2&Version=2011-01-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230117T203842Z
      X-Amz-Content-Sha256:
      - 043af01ad8b2b65bef55ac0d7fc609a145069b449f90170ca3bf48a3debc6b59
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - fdc311c9-97ea-457a-add1-44fa57bf15ce
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <UpdateAutoScalingGroupResponse xmlns="http://autoscaling.amazonaws.com/doc/2011-01-01/">
          <ResponseMetadata>
            <RequestId>fdc311c9-97ea-457a-add1-44fa57bf15ce</RequestId>
          </ResponseMetadata>
        </UpdateAutoScalingGroupResponse>
  recorded_at: Tue, 17 Jan 2023 20:38:42 GMT
recorded_with: VCR 6.1.0
