---
http_interactions:
- request:
    method: post
    uri: https://monitoring.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetMetricStatistics&Dimensions.member.1.Name=DBInstanceIdentifier&Dimensions.member.1.Value=byte-storm-labs-test-database-mysql-dbinstance-eke8ouwvjk1c&EndTime=2023-01-08T18%3A56%3A58Z&MetricName=Queries&Namespace=AWS%2FRDS&Period=86400&StartTime=2022-12-25T18%3A56%3A58Z&Statistics.member.1=Sum&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230108T185658Z
      X-Amz-Content-Sha256:
      - '02041950436a40ea402f0bfe973df5bf34221cb9d90087023acb9877862df07e'
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - f94a5c60-1f88-40aa-805d-8445ffcc182c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetMetricStatisticsResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <GetMetricStatisticsResult>
            <Datapoints>
              <member>
                <Unit>Count/Second</Unit>
                <Sum>0.0</Sum>
                <Timestamp>2022-12-27T18:56:00Z</Timestamp>
              </member>
              <member>
                <Unit>Count/Second</Unit>
                <Sum>0.0</Sum>
                <Timestamp>2022-12-28T18:56:00Z</Timestamp>
              </member>
              <member>
                <Unit>Count/Second</Unit>
                <Sum>0</Sum>
                <Timestamp>2022-12-29T18:56:00Z</Timestamp>
              </member>
              <member>
                <Unit>Count/Second</Unit>
                <Sum[...]
