---
http_interactions:
- request:
    method: post
    uri: https://api.pricing.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"ServiceCode":"AmazonEC2","Filters":[{"Type":"TERM_MATCH","Field":"productFamily","Value":"Storage
        Snapshot"},{"Type":"TERM_MATCH","Field":"regionCode","Value":"us-east-1"},{"Type":"TERM_MATCH","Field":"usageType","Value":"EBS:SnapshotUsage"}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWSPriceListService.GetProducts
      X-Amz-Date:
      - 20230114T172457Z
      X-Amz-Content-Sha256:
      - 02ba0b246b202480fec62340d05f315d544fe3663cfc0b24a5f10be38aa07e83
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 32b26d15-4409-4322-8d9d-d7e18d849669
    body:
      encoding: UTF-8
      string: '{"FormatVersion":"aws_v1","PriceList":["{\"product\":{\"productFamily\":\"Storage
        Snapshot\",\"attributes\":{\"storageMedia\":\"Amazon S3\",\"regionCode\":\"us-east-1\",\"servicecode\":\"AmazonEC2\",\"usagetype\":\"EBS:SnapshotUsage\",\"locationType\":\"AWS
        Region\",\"location\":\"US East (N. Virginia)\",\"servicename\":\"Amazon Elastic
        Compute Cloud\",\"operation\":\"\"},\"sku\":\"7U7TWP44UP36AT3R\"},\"serviceCode\":\"AmazonEC2\",\"terms\":{\"OnDemand\":{\"7U7TWP44UP36AT3R.JRTCKXETXF\":{\"priceDimensions\":{\"7U7TWP44UP36AT3R.JRTCKXETXF.6YS6EN2CT7\":{\"unit\":\"GB-Mo\",\"endRange\":\"Inf\",\"description\":\"$0.05
        per GB-Month of snapshot data stored - US East (Northern Virginia)\",\"appliesTo\":[],\"rateCode\":\"7U7TWP44UP36AT3R.JRTCKXETXF.6YS6EN2CT7\",\"beginRange\":\"0\",\"pricePerUnit\":{\"USD\":\"0.0500000000\"}}},\"sku\":\"7U7TWP44UP36AT3R\",\"effectiveDate\":\"2023-01-01T00:00:00Z\",\"offerTermCode\":\"JRTCKXETXF\",\"termAttributes\":{}}}},\"version\":\"20230112190808\",\"publicationDate\":\"2023-01-12T19:08:08Z\"}"]}'
  recorded_at: Sat, 14 Jan 2023 17:24:57 GMT
recorded_with: VCR 6.1.0
