---
http_interactions:
- request:
    method: post
    uri: https://api.pricing.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"ServiceCode":"AmazonVPC","Filters":[{"Type":"TERM_MATCH","Field":"regionCode","Value":"us-east-1"},{"Type":"TERM_MATCH","Field":"usagetype","Value":"VPN-Usage-Hours:ipsec.1"}]}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AWSPriceListService.GetProducts
      X-Amz-Date:
      - 20230125T201845Z
      X-Amz-Content-Sha256:
      - e1d78fe715242969a361cc1f6dcfa62b3785bbb87936cd2dbce1949f334496d5
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - d57e8717-f1d2-4cf4-9946-847e486e636d
    body:
      encoding: UTF-8
      string: '{"FormatVersion":"aws_v1","PriceList":["{\"product\":{\"productFamily\":\"Cloud
        Connectivity\",\"attributes\":{\"regionCode\":\"us-east-1\",\"endpointType\":\"IPsec\",\"servicecode\":\"AmazonVPC\",\"usagetype\":\"VPN-Usage-Hours:ipsec.1\",\"locationType\":\"AWS
        Region\",\"location\":\"US East (N. Virginia)\",\"servicename\":\"Amazon Virtual
        Private Cloud\",\"operation\":\"CreateVpnConnection\"},\"sku\":\"EC5BHP9ZANKN9EQD\"},\"serviceCode\":\"AmazonVPC\",\"terms\":{\"OnDemand\":{\"EC5BHP9ZANKN9EQD.JRTCKXETXF\":{\"priceDimensions\":{\"EC5BHP9ZANKN9EQD.JRTCKXETXF.6YS6EN2CT7\":{\"unit\":\"Hrs\",\"endRange\":\"Inf\",\"description\":\"$0.05
        per VPN Connection-Hour\",\"appliesTo\":[],\"rateCode\":\"EC5BHP9ZANKN9EQD.JRTCKXETXF.6YS6EN2CT7\",\"beginRange\":\"0\",\"pricePerUnit\":{\"USD\":\"0.0500000000\"}}},\"sku\":\"EC5BHP9ZANKN9EQD\",\"effectiveDate\":\"2022-12-01T00:00:00Z\",\"offerTermCode\":\"JRTCKXETXF\",\"termAttributes\":{}}}},\"version\":\"20230123152818\",\"publicationDate\":\"2023-01-23T15:28:18Z\"}"]}'
  recorded_at: Wed, 25 Jan 2023 20:18:46 GMT
recorded_with: VCR 6.1.0
