---
http_interactions:
- request:
    method: post
    uri: https://logs.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - Logs_20140328.DescribeLogGroups
      X-Amz-Date:
      - 20230110T162903Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - '078cebce-45dc-4d18-a2f8-9896b989976a'
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: |-
        {
          "logGroups": [
            {
              "arn": "arn:aws:logs:us-east-1:012345678912:log-group:/aws/ecs/containerinsights/Test-Cluster/performance:*",
              "creationTime": 1672511011916,
              "logGroupName": "/aws/ecs/containerinsights/Test-Cluster/performance",
              "metricFilterCount": 0,
              "retentionInDays": 1,
              "storedBytes": 0
            },
            {
              "arn": "arn:aws:logs:us-east-1:012345678912:log-group:/aws/lambda/SecretRotationSchedule-MySQLSingleUser-Lambda:*",
              "creationTime": 1672425268353,
              "logGroupName": "/aws/lambda/SecretRotationSchedule-MySQLSingleUser-Lambda",
              "metricFilterCount": 0,
              "storedBytes": 27026
            },
            {
              "arn": "arn:aws:logs:us-east-1:012345678912:log-group:/aws/rds/cluster/byte-storm-labs[...]
