---
http_interactions:
- request:
    method: post
    uri: https://rds.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=DescribeDBClusterSnapshots&Version=2014-10-31
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230111T193514Z
      X-Amz-Content-Sha256:
      - f21a94bba920ef378b31886c52a21527960e91cd8604cd85faf665964bf25b18
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e3d7e15b-51de-472d-82cc-d9a8c41c1506
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <DescribeDBClusterSnapshotsResponse xmlns="http://rds.amazonaws.com/doc/2014-10-31/">
          <DescribeDBClusterSnapshotsResult>
            <DBClusterSnapshots>
              <DBClusterSnapshot>
                <AllocatedStorage>0</AllocatedStorage>
                <AvailabilityZones>
                  <AvailabilityZone>us-east-2a</AvailabilityZone>
                  <AvailabilityZone>us-east-2a</AvailabilityZone>
                  <AvailabilityZone>us-east-2b</AvailabilityZone>
                  <AvailabilityZone>us-east-2b</AvailabilityZone>
                  <AvailabilityZone>us-east-2c</AvailabilityZone>
                  <AvailabilityZone>us-east-2c</AvailabilityZone>
                </AvailabilityZones>
                <EngineMode>provisioned</EngineMode>
                <Engine>aurora-mysql</Engine>
                <PercentProgress>100</PercentProgress>
                <VpcId>vpc-02935ea007bff5d02</VpcId>
                <IAMDatabaseAuthenticationEnabled>false</IAMDatabaseAuthenticationEnabled>
                <DBClusterSnapshotIdentifier>byte-storm-labs-staging-database-mysql-snapshot-dbcluster-1lqhwzuovllj</DBClusterSnapshotIdentifier>
                <ClusterCreateTime>2023-01-07T18:24:38.825Z</ClusterCreateTime>
                <EngineVersion>8.0.mysql_aurora.3.02.0</EngineVersion>
                <MasterUsername>root</MasterUsername>
                <SnapshotType>manual</SnapshotType>
                <StorageEncrypted>true</StorageEncrypted>
                <TagList/>
                <Port>0</Port>
                <SnapshotCreateTime>2023-01-07T18:59:42.937Z</SnapshotCreateTime>
                <LicenseModel>aurora-mysql</LicenseModel>
                <KmsKeyId>arn:aws:kms:us-east-2:163788863765:key/c1921cb5-25d1-47f1-8edc-ce50d67ac9ce</KmsKeyId>
                <DBClusterSnapshotArn>arn:aws:rds:us-east-2:163788863765:cluster-snapshot:byte-storm-labs-staging-database-mysql-snapshot-dbcluster-1lqhwzuovllj</DBClusterSnapshotArn>
                <DBClusterIdentifier>byte-storm-labs-staging-database-mysql-dbcluster-ypeguifisbbm</DBClusterIdentifier>
                <Status>available</Status>
              </DBClusterSnapshot>
              <DBClusterSnapshot>
                <AllocatedStorage>0</AllocatedStorage>
                <AvailabilityZones>
                  <AvailabilityZone>us-east-2a</AvailabilityZone>
                  <AvailabilityZone>us-east-2a</AvailabilityZone>
                  <AvailabilityZone>us-east-2b</AvailabilityZone>
                  <AvailabilityZone>us-east-2b</AvailabilityZone>
                  <AvailabilityZone>us-east-2c</Availabil[...]
