---
http_interactions:
- request:
    method: post
    uri: https://api.ecr.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerRegistry_V20150921.DescribeRepositories
      X-Amz-Date:
      - 20230111T174126Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 22ece613-5e54-4eb0-9245-ad71545b636a
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"repositories":[{"createdAt":1.672952688E9,"encryptionConfiguration":{"encryptionType":"AES256"},"imageScanningConfiguration":{"scanOnPush":false},"imageTagMutability":"MUTABLE","registryId":"163788863765","repositoryArn":"arn:aws:ecr:us-east-2:163788863765:repository/sprawl-detector","repositoryName":"sprawl-detector","repositoryUri":"163788863765.dkr.ecr.us-east-2.amazonaws.com/sprawl-detector"},{"createdAt":1.672931895E9,"encryptionConfiguration":{"encryptionType":"AES256"},"imageScanningConfiguration":{"scanOnPush":false},"imageTagMutability":"MUTABLE","registryId":"163788863765","repositoryArn":"arn:aws:ecr:us-east-2:163788863765:repository/resource-scheduler","repositoryName":"resource-scheduler","repositoryUri":"163788863765.dkr.ecr.us-east-2.amazonaws.com/resource-scheduler"}]}'
  recorded_at: Wed, 11 Jan 2023 17:41:26 GMT
- request:
    method: post
    uri: https://api.ecr.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"repositoryName":"sprawl-detector","registryId":"163788863765"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerRegistry_V20150921.DescribeImages
      X-Amz-Date:
      - 20230111T174126Z
      X-Amz-Content-Sha256:
      - 431dc1e0a36e15abb19bda7654b987835e506c0e02a9c5a736dc144c0fa15b5a
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - e4eca357-4e73-48c3-a4df-cffee1617ed1
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"imageDetails":[{"artifactMediaType":"application/vnd.docker.container.image.v1+json","imageDigest":"sha256:f4df64f578312a3ce9478cbe582ef8dee6d4841394bf5035ceb2d1ed8162a983","imageManifestMediaType":"application/vnd.docker.distribution.manifest.v2+json","imagePushedAt":1.673407586E9,"imageSizeInBytes":530573152,"registryId":"163788863765","repositoryName":"sprawl-detector"},{"artifactMediaType":"application/vnd.docker.container.image.v1+json","imageDigest":"sha256:46d74530da4a00879db990abc1579dd71d0adc6518bccd26a0a8f24ba75768b3","imageManifestMediaType":"application/vnd.docker.distribution.manifest.v2+json","imagePushedAt":1.673406232E9,"imageSizeInBytes":530360365,"lastRecordedPullTime":1.673406259175E9,"registryId":"163788863765","repositoryName":"sprawl-detector"},{"artifactMediaType":"application/vnd.docker.container.image.v1+json","imageDigest":"sha256:fbfb2f95b62e2b3e896ca6a533066f458ac29634d2d4ac383b1354fb0872b35a","imageManifestMediaType":"application/vnd.docker.distribution.manifest.v2+json","imagePushedAt":1.673110021E9,"imageSizeInBytes":441026394,"lastRecordedPullTime":1.673110061667E9,"registryId":"163788863765","repositoryName":"sprawl-detector"},{"artifactMediaTyp[...]
- request:
    method: post
    uri: https://api.ecr.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"repositoryName":"sprawl-detector","registryId":"163788863765"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerRegistry_V20150921.GetLifecyclePolicy
      X-Amz-Date:
      - 20230111T174126Z
      X-Amz-Content-Sha256:
      - 431dc1e0a36e15abb19bda7654b987835e506c0e02a9c5a736dc144c0fa15b5a
      Authorization:
      - SecretToken
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - c9dc64b7-38c9-402e-89ad-7327d42af777
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"__type":"LifecyclePolicyNotFoundException","message":"Lifecycle policy
        does not exist for the repository with name ''sprawl-detector'' in the registry
        with id ''163788863765''"}'
  recorded_at: Wed, 11 Jan 2023 17:41:26 GMT
- request:
    method: post
    uri: https://api.ecr.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"repositoryName":"resource-scheduler","registryId":"163788863765"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerRegistry_V20150921.DescribeImages
      X-Amz-Date:
      - 20230111T174126Z
      X-Amz-Content-Sha256:
      - 96ee8d6100120d52101d83a5cab6077ab4001a7618c4ca999f20e8d1cba42542
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 695b731d-874f-46f7-9dcd-71e9b23a28fa
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"imageDetails":[{"artifactMediaType":"application/vnd.docker.container.image.v1+json","imageDigest":"sha256:ebf0e7f3d89bed950874f30c266ecc616aa30888a54eb5f8a88176233a02a436","imageManifestMediaType":"application/vnd.docker.distribution.manifest.v2+json","imagePushedAt":1.672951807E9,"imageSizeInBytes":386648061,"imageTags":["latest"],"registryId":"163788863765","repositoryName":"resource-scheduler"},{"artifactMediaType":"application/vnd.docker.container.image.v1+json","imageDigest":"sha256:7a6381220b5a5670c4ad1a9d49130037c187601e39c64188fe63a0fc2f14376f","imageManifestMediaType":"application/vnd.docker.distribution.manifest.v2+json","imagePushedAt":1.672932541E9,"imageSizeInBytes":379109243,"lastRecordedPullTime":1.672932901292E9,"registryId":"163788863765","repositoryName":"resource-scheduler"},{"artifactMediaTyp[...]
- request:
    method: post
    uri: https://api.ecr.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: '{"repositoryName":"resource-scheduler","registryId":"163788863765"}'
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - AmazonEC2ContainerRegistry_V20150921.GetLifecyclePolicy
      X-Amz-Date:
      - 20230111T174126Z
      X-Amz-Content-Sha256:
      - 96ee8d6100120d52101d83a5cab6077ab4001a7618c4ca999f20e8d1cba42542
      Authorization:
      - SecretToken
  response:
    status:
      code: 400
      message: Bad Request
    headers:
      X-Amzn-Requestid:
      - 88c441b2-7d88-4ce5-827e-bddee6209e3e
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: '{"__type":"LifecyclePolicyNotFoundException","message":"Lifecycle policy
        does not exist for the repository with name ''resource-scheduler'' in the
        registry with id ''163788863765''"}'
  recorded_at: Wed, 11 Jan 2023 17:41:27 GMT
recorded_with: VCR 6.1.0
