---
http_interactions:
- request:
    method: post
    uri: https://transfer.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - TransferService.ListServers
      X-Amz-Date:
      - 20230110T122611Z
      X-Amz-Security-Token:
      - SecretAmzSecurityToken
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amzn-Requestid:
      - 51b3c316-18d6-46c9-88ce-5dfcd26f444d
    body:
      encoding: UTF-8
      string: |-
        {
          "Servers": [
            {
              "Arn": "arn:aws:transfer:us-east-1:012345678912:server/s-3a9c4d6bbeb1487f8",
              "Domain": "S3",
              "EndpointType": "VPC",
              "IdentityProviderType": "SERVICE_MANAGED",
              "LoggingRole": "arn:aws:iam::012345678912:role/bytestorm-labs-di-dev-us-east-CloudWatchLoggingRole-JDKFHDXPKSEI",
              "ServerId": "s-3a9c4d6bbeb1487f8",
              "State": "ONLINE",
              "UserCount": 2
            }
          ]
        }
  recorded_at: Tue, 10 Jan 2023 12:26:11 GMT
- request:
    method: post
    uri: https://monitoring.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetMetricStatistics&Dimensions.member.1.Name=ServerId&Dimensions.member.1.Value=s-3a9c4d6bbeb1487f8&EndTime=2023-01-10T12%3A26%3A11Z&MetricName=FilesIn&Namespace=AWS%2FTransfer&Period=86400&StartTime=2022-10-12T12%3A26%3A11Z&Statistics.member.1=Sum&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230110T122611Z
      X-Amz-Security-Token:
      - SecretAmzSecurityToken
      X-Amz-Content-Sha256:
      - af78682b3ae1a9b66b0f17b97d4322056d8afba9988eebe43a3e2730a91ba791
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 29703970-94fe-4591-a285-cfae98ca1402
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetMetricStatisticsResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <GetMetricStatisticsResult>
            <Datapoints/>
            <Label>FilesIn</Label>
          </GetMetricStatisticsResult>
          <ResponseMetadata>
            <RequestId>29703970-94fe-4591-a285-cfae98ca1402</RequestId>
          </ResponseMetadata>
        </GetMetricStatisticsResponse>
  recorded_at: Tue, 10 Jan 2023 12:26:12 GMT
- request:
    method: post
    uri: https://monitoring.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetMetricStatistics&Dimensions.member.1.Name=ServerId&Dimensions.member.1.Value=s-3a9c4d6bbeb1487f8&EndTime=2023-01-10T12%3A26%3A11Z&MetricName=FilesOut&Namespace=AWS%2FTransfer&Period=86400&StartTime=2022-10-12T12%3A26%3A11Z&Statistics.member.1=Sum&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230110T122612Z
      X-Amz-Security-Token:
      - SecretAmzSecurityToken
      X-Amz-Content-Sha256:
      - f85c69cd5d76c018de791f81782b401120748749e6c61d24617840947a95bfaf
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 75340a86-a2ed-4999-8c52-e2db6bb17cf0
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetMetricStatisticsResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <GetMetricStatisticsResult>
            <Datapoints/>
            <Label>FilesOut</Label>
          </GetMetricStatisticsResult>
          <ResponseMetadata>
            <RequestId>75340a86-a2ed-4999-8c52-e2db6bb17cf0</RequestId>
          </ResponseMetadata>
        </GetMetricStatisticsResponse>
  recorded_at: Tue, 10 Jan 2023 12:26:12 GMT
recorded_with: VCR 6.1.0
