---
http_interactions:
- request:
    method: post
    uri: https://secretsmanager.us-east-2.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - secretsmanager.ListSecrets
      X-Amz-Date:
      - 20230108T162659Z
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - da2b124f-0234-4523-86e5-1f1452b961f2
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: |
        {
           "SecretList":[
              {
                 "ARN":"arn:aws:secretsmanager:us-east-2:012345678912:secret:Slack/ByteStormLabs-ResourceScheduler-Dz7T2i",
                 "CreatedDate": <%= (DateTime.now-1).strftime('%s').to_f %>,
                 "Description":"Application ID, client ID, client secret and signing secret for the ByteStorm Labs Resource Scheduler Slack application.",
                 "LastAccessedDate":<%= (DateTime.now-1).strftime('%s').to_f %>,
                 "LastChangedDate":<%= (DateTime.now-1).strftime('%s').to_f %>,
                 "Name":"Slack/ByteStormLabs-ResourceScheduler",
                 "SecretVersionsToStages":{
                    "51efad74-853f-4d90-82a7-e2b571c7d010":[
                       "AWSCURRENT"
                    ]
                 },
                 "Tags":[

                 ]
              },
              {
                 "ARN":"arn:aws:secretsmanager:us-east-2:012345678912:secret:staging/mysql-mWoccQ",
                 "CreatedDate":<%= (DateTime.now-1).strftime('%s').to_f %>,
                 "Description":"The credentials for the MySQL database cluster in byte-storm-labs-staging-database-mysql",
                 "LastAccessedDate":<%= (DateTime.now-1).strftime('%s').to_f %>,
                 "LastChangedDate":<%= (DateTime.now-1).strftime('%s').to_f %>,
                 "Name":"staging/mysql",
                 "SecretVersionsToStages":{
                    "24e5ea6e-a327-466a-91d5-ba749ae3840c":[
                       "AWSCURRENT"
                    ],
                    "cbc7f53b-dbe0-4739-92ff-1d8fc1162f5b":[
                       "AWSPREVIOUS"
                    ]
                 },
                 "Tags":[
                    {
                       "Key":"Tenancy",
                       "Value":"Shared"
                    },
                    {
                       "Key":"aws:cloudformation:stack-name",
                       "Value":"byte-storm-labs-staging-database-mysql"
                    },
                    {
                       "Key":"aws:cloudformation:stack-id",
                       "Value":"arn:aws:cloudformation:us-east-2:012345678912:stack/byte-storm-labs-staging-database-mysql/4bd5e340-8f69-11ed-8b7d-021a04b21a58"
                    },
                    {
                       "Key":"Tier",
                       "Value":"Database"
                    },
                    {
                       "Key":"Environment",
                       "Value":"Staging"
                    },
                    {
                       "Key":"aws:cloudformation:logical-id",
                       "Value":"Secret"
                    }
                 ]
              }
           ]
        }
  recorded_at: Sun, 08 Jan 2023 16:26:59 GMT
recorded_with: VCR 6.1.0
