---
http_interactions:
- request:
    method: post
    uri: https://kinesis.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: "{}"
    headers:
      Content-Type:
      - application/x-amz-json-1.1
      X-Amz-Target:
      - Kinesis_20131202.ListStreams
      X-Amz-Date:
      - 20230116T171710Z
      X-Amz-Security-Token:
      - SecretAmzSecurityToken
      X-Amz-Content-Sha256:
      - 44136fa355b3678a1146ad16f7e8649e94fb4fc21fe77e8310c060f61caaff8a
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - cae803b5-c118-6dda-96d7-8b63e528e025
      Content-Type:
      - application/x-amz-json-1.1
    body:
      encoding: UTF-8
      string: |-
        {
          "HasMoreStreams": false,
          "StreamNames": [
            "AWS-ELB-logs",
            "AWS-ES-logs",
            "AWS-RDS-logs",
            "AWS-redis-logs",
            "CloudTrail",
            "bytestorm-logs",
            "flowlogs",
            "application-log-stream"
          ],
          "StreamSummaries": [
            {
              "StreamARN": "arn:aws:kinesis:us-east-1:123456879123:stream/AWS-ELB-logs",
              "StreamCreationTimestamp": 1533065831.0,
              "StreamModeDetails": {
                "StreamMode": "PROVISIONED"
              },
              "StreamName": "AWS-ELB-logs",
              "StreamStatus": "ACTIVE"
            },
            {
              "StreamARN": "arn:aws:kinesis:us-east-1:123456879123:stream/AWS-ES-logs",
              "StreamCreationTimestamp": 1533065815.0,
              "StreamModeDetails": {
                "StreamMode": "PROVISIONED"
              },
              "StreamName": "AWS-ES-logs",
              "StreamStatus": "ACTIVE"
            },
            {
              "StreamARN": "arn:aws:kinesis:us-east-1:123456879123:stream/AWS-RDS-logs",
              "Strea[...]
- request:
    method: post
    uri: https://monitoring.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetMetricStatistics&Dimensions.member.1.Name=StreamName&Dimensions.member.1.Value=AWS-ELB-logs&EndTime=2023-01-16T17%3A17%3A10Z&MetricName=GetRecords.Records&Namespace=AWS%2FKinesis&Period=86400&StartTime=2022-12-17T17%3A17%3A10Z&Statistics.member.1=Sum&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230116T171710Z
      X-Amz-Security-Token:
      - SecretAmzSecurityToken
      X-Amz-Content-Sha256:
      - fe61bb99c5d2f6e1938419c55566cd827b22bb4f56ad5f63b8b3a92fd3e84ab3
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 36051091-2e84-46fb-835d-b69ebefa627e
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetMetricStatisticsResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <GetMetricStatisticsResult>
            <Datapoints/>
            <Label>GetRecords.Records</Label>
          </GetMetricStatisticsResult>
          <ResponseMetadata>
            <RequestId>36051091-2e84-46fb-835d-b69ebefa627e</RequestId>
          </ResponseMetadata>
        </GetMetricStatisticsResponse>
  recorded_at: Mon, 16 Jan 2023 17:17:11 GMT
[...]
- request:
    method: post
    uri: https://monitoring.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetMetricStatistics&Dimensions.member.1.Name=StreamName&Dimensions.member.1.Value=application-log-stream&EndTime=2023-01-16T17%3A17%3A12Z&MetricName=GetRecords.Records&Namespace=AWS%2FKinesis&Period=86400&StartTime=2022-12-17T17%3A17%3A12Z&Statistics.member.1=Sum&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230116T171712Z
      X-Amz-Security-Token:
      - SecretAmzSecurityToken
      X-Amz-Content-Sha256:
      - 1d9bff0a20cf1d44db5d5621eed46866a2ffa39f51bebefb674eb219531d7eaf
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 182e570f-817e-44bb-a410-65995bae1d29
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetMetricStatisticsResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <GetMetricStatisticsResult>
            <Datapoints/>
            <Label>GetRecords.Records</Label>
          </GetMetricStatisticsResult>
          <ResponseMetadata>
            <RequestId>182e570f-817e-44bb-a410-65995bae1d29</RequestId>
          </ResponseMetadata>
        </GetMetricStatisticsResponse>
  recorded_at: Mon, 16 Jan 2023 17:17:13 GMT
recorded_with: VCR 6.1.0
