---
http_interactions:
- request:
    method: get
    uri: https://es.us-east-1.amazonaws.com/2015-01-01/domain
    body:
      encoding: US-ASCII
      string: ''
    headers:
      X-Amz-Date:
      - 20230111T185336Z
      X-Amz-Security-Token:
      - SecretAmzSecurityToken
      X-Amz-Content-Sha256:
      - e3b0c44298fc1c149afbf4c8996fb92427ae41e4649b934ca495991b7852b855
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - 55538696-aa48-4f07-9fe1-abd8ce903c55
      Content-Type:
      - application/json
    body:
      encoding: UTF-8
      string: '{"DomainNames":[{"DomainName":"bytestorm-opensearch","EngineType":"Elasticsearch"}]}'
  recorded_at: Wed, 11 Jan 2023 18:53:36 GMT
- request:
    method: post
    uri: https://monitoring.us-east-1.amazonaws.com/
    body:
      encoding: UTF-8
      string: Action=GetMetricStatistics&Dimensions.member.1.Name=DomainName&Dimensions.member.1.Value=bytestorm-opensearch&Dimensions.member.2.Name=ClientId&Dimensions.member.2.Value=123456789012&EndTime=2023-01-11T18%3A53%3A36Z&MetricName=2xx&Namespace=AWS%2FES&Period=86400&StartTime=2022-12-28T18%3A53%3A36Z&Statistics.member.1=Sum&Version=2010-08-01
    headers:
      Content-Type:
      - application/x-www-form-urlencoded; charset=utf-8
      X-Amz-Date:
      - 20230111T185336Z
      X-Amz-Security-Token:
      - SecretAmzSecurityToken
      X-Amz-Content-Sha256:
      - c934e57fcd0ba9201eb6e8cb59abb95cb89a5e8b23757c5222172b4efc725848
      Authorization:
      - SecretToken
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Amzn-Requestid:
      - eeff082c-51ad-4ec7-a228-728bda9ec02c
      Content-Type:
      - text/xml
    body:
      encoding: UTF-8
      string: |
        <GetMetricStatisticsResponse xmlns="http://monitoring.amazonaws.com/doc/2010-08-01/">
          <GetMetricStatisticsResult>
            <Datapoints>
              <member>
                <Unit>Count</Unit>
                <Sum>0.0</Sum>
                <Timestamp>2022-12-29T18:53:00Z</Timestamp>
              </member>
              <member>
                <Unit>Count</Unit>
                <Sum>0.0</Sum>
                <Timestamp>2023-01-04T18:53:00Z</Timestamp>
              </member>
              <member>
                <Unit>Count</Unit>
                <Sum>0.0</Sum>
                <Timestamp>2022-12-30T18:53:00Z</Timestamp>
              </member>
              <member>
                <Unit>Count</Unit>
                <Sum>0.0</Sum>
        [...]
[...]
